<%= form_with(model: @house, local: true) do |form| %>

  <%= form.label :house_name, '物件名' %>
  <%= form.text_field :house_name %>
  <%= form.label :price, '賃料' %>
  <%= form.text_field :price %>
  <%= form.label :address,'住所' %>
  <%= form.text_field :address %>
  <%= form.label :age, '築年数' %>
  <%= form.text_field :age %>
  <%= form.label :note, '備考' %>
  <%= form.text_area :note %>


<% index = 0 %>
<%= form.fields_for :stations do |station| %>
  <h2>最寄り駅<%= index + 1%></h2> 

  <%= station.label :route_name,'路線名' %>
  <%= station.text_field :route_name %>
  <%= station.label :station_name,'駅名' %>
  <%= station.text_field :station_name %>
  <%= station.label :time,'徒歩分数' %>
  <%= station.text_field :time %>

<% index+= 1 %>
<% end %>

  <%= form.submit '登録' %>
<% end %>
