<h1>物件一覧</h1>

<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>

  <% @house.each do |house| %>

  <tr>
    <td><%= house.house_name %></td>
    <td><%= house.price %></td>
    <td><%= house.address %></td>
    <td><%= house.age %></td>
    <td><%= house.note %></td>
    <td><%= link_to '詳細', house_path(house.id) %></td>
    <td><%= link_to '編集', edit_house_path(house.id) %></td>
    <td><%= link_to '削除', house_path(house.id), method: :delete, data: { confirm: '削除しますか？'} %></td>
  </tr>
  <% end %>
</table>

<%= link_to '物件を登録する', new_house_path %>